
@model List<CandidatoModel>

@{
    ViewData["Title"] = "Candidato";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justfy-content-md-start">
        <a class="btn btn-primary"role="button" asp-controller="Candidato" asp-action="Criar">Adicionar um novo Candidato</a>
    </div>
    <br />
<h1 class="display-4">Cadastro de Candidatos</h1>

<hr />

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Conhecimento</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
            @if(Model !=null && Model.Any())
            {
                foreach(CandidatoModel candidato in Model)
                {
                   <tr>
                     <th scope="row">@candidato.Id</th>
                        <td>@candidato.Nome</td>
                        <td>@candidato.Email</td>
                        <td>@candidato.Conhecimentos</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-warning" asp.asp-route-id="@candidato.Id" asp-controller="Candidato"asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-secondary" asp.asp-route-id="@candidato.Id" asp-controller="Candidato"asp-action="ApagarConfirmacao">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }


  </tbody>
</table>
</div>
