@model VagasAbertas
@{
    @ViewData["Title"]
}

    <div class="text-center">
    <h1 class="display-4">Vagas Disponíveis!</h1>
    </div>

<hr />

<div class = "vaga"><h3>@Model.vaga1 </h3></div>
<div class = "vaga"><h3>@Model.vaga2</h3></div>
<div class = "vaga"><h3>@Model.vaga3</h3></div>
<div class = "vaga"><h3>@Model.vaga4</h3></div>
<div class = "vaga"><h3>@Model.vaga5</h3></div>
<div class = "vaga"><h3>@Model.vaga6</h3></div>
<div class = "vaga"><h3>@Model.vaga7</h3></div>
<div class = "vaga"><h3>@Model.vaga8</h3></div>
<br />
<hr />
<p class="text-info bg-dark"><h2>Os dados aqui inseridos sao meramente ilustrativos</h2></p>
